/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* End of CSS Reset */

/* CSS Custom */

/* body {
  height: 10000px;
} */

.header-container {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 0.5rem 3rem;
}

.header-container .nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container .nav-container li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.header-container .nav-container a {
  padding: 0.5rem 1.5rem;
  position: relative;
  margin: 0 1rem;
  text-decoration: none;
  color: black;
  border-radius: 100px;
}

.header-container .nav-container a:hover {
  background-color: black;
  color: white;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

#jumbotron {
  display: flex;
  height: 100vh;
  align-items: center;
  padding: 0 130px;
}

#jumbotron-text,
#jumbotron-image {
  flex-grow: 1;
}

#jumbotron .jumbotron-title {
  padding: 0 3rem;
}

#jumbotron .jumbotron-title h1 em {
  font-size: 4em;
}

#jumbotron .jumbotron-title > p {
  margin: 0.5rem 0 1rem;
  font-weight: 400;
  color: #606060;
  line-height: 1.9;
  font-size: 20px;
}

#jumbotron .jumbotron-image img {
  border-radius: 50%;
  height: 20rem;
}

#jumbotron .jumbotron-title button {
  padding: 0.7rem 2rem;
  margin: 0.5rem 0;
  border-radius: 0.2rem;
  color: white;
  background-color: rgb(112, 111, 111);
  border: none;
}

#jumbotron .jumbotron-title button:hover {
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

#creator {
  height: 100vh;
  background-color: rgba(240, 239, 239, 0.856);
  padding: 100px 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5rem;
}

#creator .creator-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 600px;
}

#creator .creator-content blockquote {
  font-size: 1.5rem;
}

#creator .creator-content blockquote span {
  font-size: 2.5rem;
  font-weight: 500;
}

#creator .creator-content blockquote em {
  font-size: 1.5rem;
  font-style: oblique;
}

#creator h1 {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
}

#creator img {
  width: 20rem;
  border-radius: 50%;
}

#video {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 100px 200px;
}

#video > h1 {
  font-size: 2.5em;
}

.line {
  width: 2.5em;
  border: 2px solid black;
}

#video .video-container {
  display: flex;
  gap: 2rem;
  padding: 30px;
}

#video .video-container img {
  width: 20rem;
}

#video .video-container img:hover {
  cursor: pointer;
}

#product {
  height: 100vh;
  display: flex;
  background-color: rgba(240, 239, 239, 0.856);
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 100px 0;
}

#product > h1 {
  font-size: 2.5em;
}

#product .product-container {
  display: flex;
  margin-top: 50px;
  gap: 50px;
  row-gap: 5px;
}

#product .product-item {
  position: relative;
  text-align: center;
  border-radius: 5px;
  background-color: white;
  padding: 20px 30px;
}

#product .product-item img {
  margin-bottom: 10px;
}

#product .product-container img {
  width: 150px;
}

#contact {
  height: 100vh;
  display: flex;
  background-color: white;
  padding: 100px 70px;
}

#contact > h1 {
  font-size: 2.5em;
}

#contact .contact-form {
  background-color: salmon;
  margin-top: 30px;
}

/* End of CSS Custom */
