/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

/* End of CSS Reset */

/* CSS Custom */
/* 
body {
    height: 10000px;
} */

.header-container {
    width: 100wh;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: .8rem 2rem;
}

.header-container .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.header-container .nav a {
    padding: .5rem 1.5rem;
    border-radius: 100px;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 400;
    color: black;
}

.header-container .nav a:hover {
    transition: all .1s ease-in-out;
    background-color: black;
    color: white;        
}

#jumbotron {
    display: flex;
    height: 90vh;
    align-items: center;
    padding: 0 130px;
}

#jumbotron-text,
#jumbotron-image {
    flex-grow: 1;
}

#jumbotron .jumbotron-title {
    padding: 0 3rem;
}

#jumbotron .jumbotron-title h1 em {
    font-size: 4em;
}

#jumbotron .jumbotron-title > p {
    margin: .5rem 0 1rem;
    font-weight: lighter;
    color: #606060;
    line-height: 1.9;
    font-size: 20px;
}

#jumbotron .jumbotron-image img {
    border-radius: 50%;
    height: 20rem;
}

#jumbotron .jumbotron-title button {
    padding: .7rem 2rem;
    margin: .5rem 0;
    border-radius: .2rem;
    color: black;
    background-color: rgb(240, 169, 160);
    border: none;
}

#jumbotron .jumbotron-title button:hover {
    cursor: pointer;
    transition: all .1s ease-in-out;
}








/* End of CSS Custom */