/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

/* End of CSS Reset */

/* CSS Custom */

body {
    height: 10000px;
}

.header-container {
    width: 100wh;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.header-container .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.header-container .nav a {
    padding: .7rem 1.5rem;
    border-radius: 100px;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 400;
    color: black;
}

.header-container .nav a:hover {
    transition: all .1s ease-in-out;
    background-color: black;
    color: white;        
}



/* 
.header-container .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.header-container .nav-container img {
    height: 10rem;
}

.header-container .nav-container a {
    padding: 1rem 1.5rem;
    border-radius: 100px;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 400;
    color: black;
}

.header-container .nav-container .logo {
    cursor: pointer;
}

.header-container .nav-container a:hover {
    border: 2px solid black;
    background-color: black;
    color: white;
}
 */







/* End of CSS Custom */